<%= stylesheet_link_tag "orders-show" %>
<h1>Your Order</h1>
Your order was a success!
<br>
<p> Here's what you bought from California Love:</p>
 <ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.size %> <%= item.product.name %><br>
    at $<%= item.product.price %> each</li>
  <% end %>
</ul>
