<div id="transparent-box">
  	<%= link_to(image_tag("logo_red.png", :class=>"logo-red"), "/") %>
    <div class="header-items">
    <%= link_to 'ABOUT', '#', :class => 'header-item' %>
    <%= link_to 'SHOP', '/products', :class => 'header-item' %>
    <%= link_to 'CONTACT', '#', :class => 'header-item' %>
    <%= link_to 'CART', '/products/current', :class => 'header-item' %>
  </div>
</div>


