<div id="transparent-box">
  	<%= link_to(image_tag("logo_red.png", :class=>"logo-red"), "/") %>
  	<%= form_tag '/products', :method => :get do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search', maxlength: 20, class: "search-input-header" %>
      <%#= submit_tag 'Search' %>
    <% end %>	
  	<div class="cart-total-partial"><%= render @cart %></div>
    <div class="header-items">
    <%= link_to 'ABOUT', 'pages/about', :class => 'header-item' %>
    <%= link_to 'SHOP', '/products', :class => 'header-item' %>
    <%= link_to 'CONTACT', '/pages/contact', :class => 'header-item' %>
    <%= link_to 'CART', '/products/customer_cart', :class => 'header-item' %>
    
  </div>
</div>


