<html>
	<head>
		<%= stylesheet_link_tag "customer-cart" %>
  </head>
  <body>
  	<div class="wrapper-customer-cart">
      <%= render "header" %>
      <div class="push-customer-cart"></div>
      <div class="customer-cart-container">
		   	<div class="cart_title">Shopping Cart</div> 
				<table id="checkout-table">
					<%= render(@cart.line_items) %>
				  <tr class="total_line">
				    <td class="total_cell"><%= render @cart %></td>
				  </tr>
				</table>
				<%#= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?', :class => 'empty-cart' %>
				<% if number_to_currency(@cart.total_price) == "$0.00" %>
				<% else %>
					<%= link_to 'Checkout', new_charge_path(id: @cart.id), {:class => "checkout"} %>
					<br>
					<%= link_to 'Continue Shopping', products_path, {:class => "checkout"} %>
				<% end %>
	 		</div>
    </div>
	<%= render "footer" %>
  </body>
</html>
