<html>
	<head>
		<%= stylesheet_link_tag "products-index" %>
	</head>
	<body>
	<div class="wrapper-index">
		<div class="push-index"></div>
		<div class="products-container">
			<% @products.each_with_index do |product, index| %>
				<div class="product-item-<%= index %>">
				<div class="product-details-<%= index %>">
				<%= link_to "#{product.name}", product %>
				<%= number_to_currency(product.price) %>
	
  			<%#= image_tag("product-item-<%= index %>

				</div>
				</div>
			<% end %>
			
		</div>
	</div>
	</body>
</html>

