<%= render "header" %>
<%= stylesheet_link_tag "products-index" %>
<h2>Products</h2>

<div class="products-container">
  <% @products.each_with_index do |product, index| %>
    <div class="product-item-<%= index %>">
      <div class="product-details-<%= index %>">
        <%= link_to "#{product.name}", product %>
        <%= product.price %>
      </div>
      <%#= button_to 'Add to Cart', line_items_path(product_id: product), remote: true,  class: 'add-to-cart' %>
    </div>
  <% end %>
</div>
