<html>
	<head>
		<%= stylesheet_link_tag "products-show" %>
  </head>
  <body>
  	<div class="wrapper-show">
      <%= render "header" %>
      <div class="push-show"></div>
        <div class="item-image">
          <%= image_tag @product.avatar.url, :size => "450x400" %>
          <%#= image_tag 'https://s3.amazonaws.com/californialove/twill_hat.jpg', :size => "550x450" %>
        </div>
          <div class="item-information">
            <strong>Name:</strong>
            <%= @product.name %>
            <strong>Price:</strong>
            $<%= @product.price %> each
            <%#= form_for(@product, url: line_items_path(product_id: @product.id), html: {method: "update"}, remote: true) do |f| %>
            <%= form_for(@product, url: line_items_path(product_id: @product.id), html: {method: "update"}) do |f| %>
              <%= f.select :size, { "Small" => "Small", "Medium" => "Medium", "Large" => "Large"} %>
              <%= f.select :color, { "White" => "White", "Black" => "Black"} %>
              <%= f.select :quantity, { "1" => "1", "2" => "2", "3" => "3", "4" => "4", "5" => "5"} %>
              <%= f.submit "Add to Cart" %>
            <% end %>
          </div>
      </div>
    <%= render "footer" %>
  </body>
</html>
