<%= stylesheet_link_tag "products-show" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%#= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true,  class: 'add-to-cart' %>


<%= form_for(@product, url: line_items_path(product_id: @product.id), html: {method: "update"}, remote: true) do |f| %>
  <%= f.select :size, { "Small" => "Small", "Medium" => "Medium", "Large" => "Large"}, {:prompt => 'Select a size...'} %>
  <%= f.select :color, { "White" => "White", "Black" => "Black"}, {:prompt => 'Select a color...'} %>
  <%#= f.select(:size, @sizes.map {|value| value}) %>
  <%= f.submit "Add to Cart" %>
<% end %>

