<html>
	<head>
		<%= stylesheet_link_tag "products-show" %>
  </head>
  <body>
  	<div class="wrapper-show">
      <%= render "header" %>
      <div class="push-show"></div>
      	<p>
  			<strong>Name:</strong>
  			<%= @product.name %>
				</p>
				<p>
  			<strong>Price:</strong>
  			<%= @product.price %>
				</p>
				<p>
<<<<<<< HEAD
  			<strong>Picture:</strong>
=======
  			<strong>Image</strong>
>>>>>>> 3c79dfbe38749f0b9f91ef8cf0bb961c074d2926
        <%= image_tag @product.avatar.url, :size => "100x100" %>
				</p>
				<%= form_for(@product, url: line_items_path(product_id: @product.id), html: {method: "update"}, remote: true) do |f| %>
				  <%= f.select :size, { "Small" => "Small", "Medium" => "Medium", "Large" => "Large"}, {:prompt => 'Select a size...'} %>
				  <%= f.select :color, { "White" => "White", "Black" => "Black"}, {:prompt => 'Select a color...'} %>
				  <%= f.submit "Add to Cart" %>
				<% end %>
    </div>
	<%= render "footer" %>
  </body>
</html>
